<p id="notice"><%= notice %></p>

<h1>Nano!!!</h1>
<p>Nano es chistoso :D</p>
<img src="https://media.giphy.com/media/xUA7aQaXbhnkX4znm8/giphy.gif" alt="dogs">
<img src="https://media.giphy.com/media/LIOdGpT1n1uNy/giphy.gif" alt="dogs">
<img src="https://media.giphy.com/media/bcm06VWT0iMQo/giphy.gif" alt="dogs">
<img src="https://media.giphy.com/media/khzkWerssJE7m/giphy.gif" alt="dogs">
